@{
    ViewBag.Title = "Employee Application";
}

@using EmployeeApplication.ViewModels
@model List<EmployeeViewModel>

<div class="row" style="position:center;padding-top:20px;padding-bottom:20px;">
    <div class="col-md-3">
        <h4>Employee Details</h4>
    </div>
    <div class="col-md-9">
        <form action="../Home/SearchEmployee" method="post">
            <table style="float:right">
                <tr>
                    <td>
                        <label>Search By:&nbsp;</label>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="radio" value="Age" name="searchBy" />&nbsp;
                    </td>
                    <td>
                        <span>Age</span>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="radio" value="Salary" name="searchBy" />&nbsp;
                    </td>
                    <td>
                        <span>Salary</span>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="radio" value="Location" name="searchBy" />&nbsp;
                    </td>
                    <td>
                        <span>Location</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <input type="text" class="" id="txtSearchBox" name="SearchValue" />&nbsp;
                    </td>
                    <td colspan="3">
                        <button type="submit" class="" id="btnSearchEmployee">Search</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container" style="position:center">
        <table class="table">
            <tr class="bg-primary" style="color:white;">
                <th>
                    <span>Employee ID</span>
                </th>
                <th>
                    <span>Employee Name</span>
                </th>
                <th>
                    <span>Age</span>
                </th>
                <th>
                    <span>Marital Status</span>
                </th>
                <th>
                </th>
            </tr>
            @foreach (EmployeeViewModel empVM in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("" + empVM.EmpID, "EditEmployeeById", "Home", new { id = empVM.EmpID }, null)
                    </td>
                    <td>
                        @Html.ActionLink("" + empVM.EmpCompleteName, "EditEmployeeById", "Home", new { id = empVM.EmpID }, null)
                    </td>
                    <td>@empVM.Age</td>
                    <td>@empVM.MaritalStatus</td>
                    <td>
                        @Html.ActionLink("Remove Employee", "RemoveEmployee", "Home", new { id = empVM.EmpID }, null)
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <button class="btn btn-info" id="btnAddEmployee" onclick="location.href='../Home/AddEmployeeView'">Add Employee</button>
        </div>
    </div>
